<%- layout('layout/boilerplate') %>
<div class="container">
  <div class="row bg-primary side-border-radius box-shadow">
    <div class="col-12 col-md-3 py-md-5 ps-md-4 py-2">

      <%- partial('partials/profilenav')  %> 
      
    </div> 
    <main class="col-12 col-md-9 py-5 px-md-4 px-lg-5 bg-white side-border-radius">
      <form action="/p/<%= profile._id %>?_method=PUT" method="POST" class="validated-form d-flex flex-column justify-content-evenly px-lg-5" enctype="multipart/form-data" novalidate>
        <h2 class="display-6 fw-bold text-center">Edit profile</h2>
        <div class="d-flex justify-content-center align-items-end my-3">
          <label class="d-flex align-items-end" for="image" style="cursor: pointer;">
            <div class="me-2">
              <% if(profile.image.url) {%>
                <div >
                  <img class="rounded-circle" src="<%= profile.image.url %>" alt="<%= profile.username %> image" style="max-height: 100px; max-width: 100px;">
                </div>
              <% } else {%>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
              <% } %>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </label>
          <input type="file" class="visually-hidden py-2" name="image" id="image" />
        </div>
        <div>
          <div class="mb-3">
            <label class="form-label" for="username">Login:</label>
            <input class="form-control py-2" disabled type="text" id="username" value="<%= profile.username %>"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control py-2" type="email" id="email" disabled value="<%= profile.email %> "/>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-12 col-md-6">
                <label class="form-label" for="password">First name:</label>
                <input class="form-control py-2" type="text" name="profile[firstname]" id="firstname" value="<%= profile.firstname ?? "" %>" required/>    
              </div>
              <div class="col-12 col-md-6">
                <label class="form-label" for="password">Last name:</label>
                <input class="form-control py-2" type="text" name="profile[lastname]" id="lastname" value="<%= profile.lastname ?? ""  %>" required/>    
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-dark py-3 px-md-5 fw-bold btn-large">Update</button>
          </div>
        </div>
      </form>
    </main>
  </div>
</div>

