<%- layout('layout/boilerplate') %>
<div class="container">
  <div class="row bg-primary box-sizes side-border-radius box-shadow">
    <div class="col-12 col-md-3 py-md-5 ps-md-4 py-2">

      <%- partial('partials/profilenav')  %> 
      
    </div>
    <div class="col-12 col-md-9 p-4 bg-white side-border-radius">
      <h2 class="display-6 mb-4 text-center">All places <%= profile.username %></h2>
      <% for (let place of places) {%>
        <div class="col align-items-center">
          <div class="card bg-secondary border-0 mx-auto side-border-radius card-box" style="max-width: 24rem">
            <div class="card-body">
              <% if (place.images[0]) {%>
              <div class="card-body side-image side-border-radius" 
                  style="background-image: url(<%= place.images[0].thumbnail %>); min-height: 22rem">
              </div>
              <% } else {%>
              <div class="card-body side-border-radius" style="min-height: 22rem">
                <p>No Images</p>
              </div>
              <% } %>
              <h5 class="card-title text-center py-3 h4"><%= place.title %></h5>
              <div class="d-flex justify-content-between align">
                <p class="my-auto ms-2 pe-2 text-nowrap overflow-hidden" style="text-overflow: ellipsis">
                  <%= place.location %>
                </p>
                <a href="/places/<%=place.id%>" class="btn btn-dark px-4 me-2 text-nowrap btn-medium">View place</a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>
