<%- layout('layout/boilerplate') %>
<h2>All places <%= profile.username  %></h2>
<div class="row">
  <% for (let place of places) {%> 
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <img src="<%= place.images[0].url %>" alt="">
        <h5 class="card-title"><%= place.title %></h5>
        <p><%= place.location  %></p>
        <a href="/places/<%=place.id%>" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <% } %> 
</div>
